body {
  font-family: 'Open Sans', sans-serif, arial;
}

h1 {
padding-top: 35px;
padding-bottom: 5px;
text-align: center;
font-size: 60px;
}

.tagline {
  text-align: center;
  padding-bottom: 10px;
}

header {
  display: flex;
  padding-bottom: 10px;
}

section {
  background: green;
  color: navajowhite;
  padding: 10px;
  text-align: center;
  border-right: solid 1px navajowhite;
}

section:last-child {
  border-right: none;
}

.menu a {
  text-decoration: none;
  color: navajowhite;
}

.menu section {
  flex: 1;
}

h2 {
  text-align: center;
  padding-bottom: 5px;
}

.location {
  text-align: center;
  margin-bottom: 15px;
}

input {
  width: 200px;
  height: 30px;
  border-radius: 4px;
  padding: 3px;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 4px;
}

#map {
  display: block;
  width: 375px;
  height: 375px;
  margin: auto;
  margin-bottom: 15px;
}

.results-title {
  text-align: center;
}

.results {
  margin-left: 15px;
}

.sort {
  text-align: center;
  margin-left: 15px;
}

select {
  width: 100px;
  border-radius: 4px;
}

ul {
  text-align: center;
}

.locations {
  padding-bottom: 18px;
}

.locations li {
  padding: 15px;
  border-bottom: 1px solid #C1C4CD;
  margin-right: 15px;
}

.locations li:last-child {
  border-bottom: none;
}

footer {
  text-align: center;
  margin-bottom: 10px;
  font-size: 10px;
}

.submit {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.locations span {
  font-size: 60px;
  font-weight: bolder;
}

.darkred {
  color: darkred;
}

.green {
  color: green;
}

.darkorange {
  color: darkorange;
}








.contact-us {
  text-align: center;
  margin-bottom: 20px;
}

.contact {
  font-size: 30px;
}

.address {
  font-size: 18px;
  font-weight: 100;
}




.form {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.business-name {
  margin-bottom: 20px;
}
