.container {
  text-align: center;
}

body {
  font-family: 'Valera Round', sans-serif;
}

main {
  display: inline-block;
  margin:0 auto 0 auto;
  margin-top: 12px;
  padding:15px;
  border: 1px solid #979BA3;
  background-color: #D4D2D5;
  border-radius: 4px;
  font-size: 16px;
}

/*Header*/

h1 {
  padding: 10px;
  font-weight: bolder;
}

header {
  background-color: #78C56B;
}

.form {
  margin: 15px;
}

.task,
.date {
  line-height: 25px;
  padding: 5px;
}

.task {
  width: 180px;
  margin-right: 7px;
}

.date {
  width: 120px;
  margin-right: 10px;
}

.add-button {
  padding: 12px;
  font-size: 16px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 4px;
  background-color: #84A2E7;
}

/*list*/

li {
  font-size: 12px;
  margin: 5px;
  margin-left: 20px;
  text-align: left;
  font-size: 16px;
}

/*checked li*/

.check {
  margin-right: 10px;
}

.input-task {
  margin:0 5px 0 5px;
}

.input-date {
  margin-right: 10px;
  font-style: italic;
  color: #B6A49A;
}

input[type="checkbox"]:checked + span {
  text-decoration: line-through;
}
