body, input, textarea {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}


header {
	text-align: center;
}

.title {
	margin-bottom: 5px;
	font-style: normal;
  font-size: 60px;
  text-transform: uppercase;
  color: gray;
  font-weight: bold;
}


.top-nav ul {
  text-align: center;
  font-size: 14px;
  padding: 0;
}

.nav li {
	display: inline;
	line-height: 1.5;
	margin-bottom: 15px;
	font-weight: bold;
	border-right: 1px solid black;
	padding-right: 5px;
}

a:visited {
  color: gray;
}

a:link {
  color: #d56900;
}

.nav li:last-child {
	border: none;
}


h1 {
  color: #d56900;
  font-size: 20px;
  text-align: center;
}

footer {
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
  padding: 10px;
}

main {
  margin-top: 10px;
  padding: 10px;
}

img {
  height: 200px;
  width: 200px;
	float: right;
	padding: 5px;
	border: 1px solid #d56900;
	margin-left: 10px;
	margin-bottom: 5px;
  margin-top: 10px;
	display: block;
}

body {
	color: #301935;
	padding: 20px;
	margin: 15px;
}

main {
	border-top: 1px solid #d56900;
	border-bottom: 1px solid #d56900;
	padding: 10px 0;
	margin: 10px;
}
