/* Fonts */

body {
  font-family: 'Lato', sans-serif;
}

.container {
  padding: 40px;
  max-width: 800px;
  margin: auto;
}

/* Layout */

header {
  margin-top: 10px;
}

h1 {
  color: #DE3B30;
  font-size: 40px;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 20px;
}

.nav {
  display: flex;
  background-color: black;
  justify-content: flex-start;
}

.nav li {
  color: #FFFFFF;
  font-size: 14px;
  border: solid 1px #FFFFFF;
  padding: 15px;
  width: 125px;
  list-style-type: none;
  align-items: center;
  text-align: center;
  flex: 1;

}

img {
  margin-bottom: 25px;
  width: 100%;
}

.left {
  display: flex;
}

main {
  flex: 2;
}

aside {
  flex: 1;
  padding-top: 110px;
  font-size: 16px;
}

aside ol {
  list-style-type: none;
  padding-left: 50px;
}

main li {
  margin-top: 40px;
  list-style-type: none;
  padding-bottom: 30px;
  border-bottom: solid 1px #DFDFDF;
}

.title {
  color: #D0D0D0;
  font-size: 30px;
  color: black;
  margin-bottom: 10px;
}

.date {
  color: #D0D0D0;
  font-size: 30px;
}

/* .article::first-letter {
  font-size: 200%;
  color: #DEDEDE;
} */

span {
  font-size:60px;
  color: #DFDFDF;
  float: left;
  margin: 0;
  padding: 0;
  padding-right: 6px;
  line-height: 50px;
}

.display a {
  margin-top: 18px;
  color: #DE3B30;
  text-align: right;
  text-decoration: none;
}

.rights {
  margin-top: 20px;
  color: #C1C4CD;
}

.footer-nav {
  margin-top: 40px;
}

.footer-nav li {
  display: inline;
  color: #DE3B30;
  padding-right: 6px;
  border-right: solid 1px #DFDFDF;
}

.footer-nav li:last-child {
  border-right: none;
}

.first {
  border-bottom: solid 1px #DFDFDF;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.first p {
  padding-bottom: 10px;
}

.second {
  padding-bottom: 10px;
  border-bottom: solid 1px #DFDFDF;
  background-color: #DFDFDF;
  width: 220px;
  line-height: 180px;
  text-align: center;
}

.third {
  border-top: solid 1px #DFDFDF;
  padding-top: 15px;
  margin-top: 20px;
}

.third p {
  padding-bottom: 10px;
}


.more {
  color: #DE3B30;
  text-align: right;
  text-decoration: none;
}

.column-title {
  font-size: 16px;
  color: #C1C4CD;
  font-weight: bold;
}

.titles {
  padding-left: 10px;
}


@media (max-width: 600px) {

	.left {
		flex-direction: column;
	}


	header,
	footer {
		text-align: center;
	}

	footer ul li {
		border:none;
	}

	ul {
	flex-direction: column;
}


	.nav li {
	  color:#999999;
  	text-decoration: none;
  	font-size: 18px;
  	padding-bottom: 15px;
  	text-align: center;
	}

	aside {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

}
