* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #000000;
  border-bottom: 3px solid #FDF649;
}

h1 {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 5px;
  color: #FDF649;
  margin: 0;
}

header .bold {
  text-transform: uppercase;
  font-size: 24px;
}

.nav {
  display: flex;
  color: #ffffff;
  list-style-type: none;
  justify-content: flex-end;
  align-items: center;
}

.nav:last-child {
  padding-bottom: 10px;
}

li {
  padding-right: 30px;
}

/* Tagline */

.tagline {
  background-color: #C6C6C6;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
}

.tagline span {
  text-decoration: line-through;
  color: gray;
}

.tagline em {
  border-bottom: 3px solid #FDF649;
}

img {
  width: 800px;
}


footer {
  background-color: black;
}
