* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  background: #F1F0DA;
}

main {
  display: flex;
}

section {
  padding: 20px;
  background: #F1F0DA;
  flex: 2;
}

aside {
  padding: 20px;
  background: #EBD17E;
  flex: 1;
}

aside p {
  line-height: 16px;
  padding-bottom: 10px;
}

table {
  width: 100%;
  max-width: 564px;
  text-align: center;
}

td {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  background: #F1F0DA;
}

.author {
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #9CBBA0;
}

a:link {
	color: #262394;
	text-decoration: none;
  text-decoration: underline;
}

h1 {
  font-size: 30px;
  padding-bottom: 10px;
  font-weight: 600;
}

h2 {
  font-size: 16px;
  padding-bottom: 10px;
}

h1, h2 {
  color: #A3562F;
}

li {
  padding: 2px 0;
}

ul, ol {
  padding-left: 20px;
  padding-bottom: 20px;
}
